/*
  Name: Chandler King
  Date: June 23, 2020
  Section: CSE 154 AE
  This is for editing the style of about.html and
  portfolio.html to give them a clean and appeasing look.
*/

body {
  margin-top: 0px;
  background-color: lightcyan;
  font-family: 'Oswald', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* this is for UW look */
p, li, ul, footer {
  color: rgb(104, 22, 180);
}

h1, h2, h3, h4 {
  border: 1px solid black;
  background-color: rgb(104, 22, 180);
  color: rgb(253, 227, 78);
}

img {
  width: 700px;
  height: 500px;
  margin-left: -30px;
  margin-right: -30px;
}

.mypic {
  border: 8px solid black;
  opacity: 80%;
  overflow: hidden;
}

/* align to center and set the font size */
h1 {
  font-size: xx-large;
}

/* class usage and also centering */
.contact, h1, h2, h3, h4 {
  text-align: center;
}

h2, h3, h4 {
  font-size: x-large;
}

html {
  font-size: medium;
}